<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <base href="{{ if getenv "CONTEXT" }}{{ cond (eq "production" (getenv "CONTEXT")) (getenv "URL") (getenv "DEPLOY_PRIME_URL") }}{{ else }}{{ $.Site.BaseURL }}{{ end }}">
    <title>{{ $.Site.Title }}</title>
    <link rel="stylesheet" href="css/main.css"/>
  </head>
  <body>
    <section class="c-header c-header__{{$.Param "page"}}">
      <div class="c-navbar">
        <div class="c-navbar__logo"></div>
        <button class="c-navbar__menu-toggle"/>
        <li class="c-navbar__menu">
          <ul>{{ i18n "callForSpeakers" }}</ul>
          <ul>{{ i18n "callForSponsors" }}</ul>
          <ul>{{ i18n "pressKit" }}</ul>
        </li>
      </div>
      <div class="c-header__intro">
        <h1 class="c-header__title"><h1>
        <h2 class="c-header__subtitle"><h2>
      </div>
    </section>
