<section class="c-hero c-hero__callforsponsor">
  <div class="u-container">
  <div>
    {{ partial "navbar" . }}
    <button class="c-btn-primary c-hero__btn c-hero__btn_desktop">{{ i18n "beASpeaker"}}</button>
  </div>
  <div class="c-hero__intro">
    <div class="c-hero__logo">
      <img src="./img/logo.png" alt={{ i18n "logoAlt"}}/>
    </div>
    <h1 class="c-hero__title">{{ i18n "heroTitleCallForSpeaker1" }}<br/>{{ i18n "heroTitleCallForSpeaker2" }}<h1>
    <p class="c-hero__content">{{ i18n "heroContentCallForSpeaker" }}<p>
    <button class="c-btn-primary c-hero__btn c-hero__btn_mobile">{{ i18n "beASpeaker"}}</button>
  </div>
  </div>
</section>
