
<section class="c-hero c-hero__homepage">
  <div class="u-container">
    <div>
      {{ partial "navbar" . }}
      <button class="c-btn-primary c-hero__btn c-hero__btn_desktop">{{ i18n "earlyBirdTicket"}}</button>
    </div>
    <div class="c-hero__intro">
      <div class="c-hero__logo">
        <img src="./img/logo.png" alt={{ i18n "logoAlt"}}/>
      </div>
      <h1 class="c-hero__title">{{ i18n "headerTitleHomepage1" }}<br/>{{ i18n "headerTitleHomepage2" }}<br/>{{ i18n "headerTitleHomepage3" }}<h1>
      <h2 class="c-hero__subtitle">{{ i18n "headerSubTitleHomepage1" }}<br/>{{ i18n "headerSubTitleHomepage2" }}<h2>
      <button class="c-btn-primary c-hero__btn c-hero__btn_mobile">{{ i18n "earlyBirdTicket"}}</button>
    </div>
  </div>
</section>
