{{ partial "header" . }}
{{ partial "hero-about" . }}
<section class="c-content c-about">
  <div class="c-content__section c-content__section_subpage">
    <div class="u-container">
      <h3 class="c-content__title">{{ i18n "aboutSection1Title" }}</h3>
      <div class="c-content__wrapper">
        <div class="c-content__paragraph c-about__speakers">
          <div class="c-about__speaker">
            <img class="c-about__img" src="./img/about/andrea.jpg">
            <p class="c-about__speaker-name u-bold">Andrea Carlon</p>
            <p class="c-about__speaker-desc">{{ i18n "speaker1desc" | safeHTML }}</p>
          </div>
          <div class="c-about__speaker">
            <img class="c-about__img" src="./img/about/anh.jpg">
            <p class="c-about__speaker-name u-bold">Anh Hoang</p>
            <p class="c-about__speaker-desc">{{ i18n "speaker2desc" | safeHTML }}</p>
          </div>
          <div class="c-about__speaker">
            <img class="c-about__img" src="./img/about/dominic.jpg">
            <p class="c-about__speaker-name u-bold">Dominic Winkler</p>
            <p class="c-about__speaker-desc">{{ i18n "speaker3desc" | safeHTML }}</p>
          </div>
          <div class="c-about__speaker">
            <img class="c-about__img" src="./img/about/franco.jpg">
            <p class="c-about__speaker-name u-bold">Franco Papeschi</p>
            <p class="c-about__speaker-desc">{{ i18n "speaker4desc" | safeHTML }}</p>
          </div>
          <div class="c-about__speaker">
            <img class="c-about__img" src="./img/about/georgia.jpg">
            <p class="c-about__speaker-name u-bold">Georgia Guo</p>
            <p class="c-about__speaker-desc">{{ i18n "speaker5desc" | safeHTML }}</p>
          </div>
          <div class="c-about__speaker">
            <img class="c-about__img" src="./img/about/jake.jpg">
            <p class="c-about__speaker-name u-bold">Jake Fowler</p>
            <p class="c-about__speaker-desc">{{ i18n "speaker6desc" | safeHTML }}</p>
          </div>
          <div class="c-about__speaker">
            <img class="c-about__img" src="./img/about/jenny.jpg">
            <p class="c-about__speaker-name u-bold">Jenny Yang</p>
            <p class="c-about__speaker-desc">{{ i18n "speaker7desc" | safeHTML }}</p>
          </div>
          <div class="c-about__speaker">
            <img class="c-about__img" src="./img/about/minglei.jpg">
            <p class="c-about__speaker-name u-bold">Minglei Jiang</p>
            <p class="c-about__speaker-desc">{{ i18n "speaker8desc" | safeHTML }}</p>
          </div>
          <div class="c-about__speaker">
            <img class="c-about__img" src="./img/about/ge.jpg">
            <p class="c-about__speaker-name u-bold">Ge Jin</p>
            <p class="c-about__speaker-desc">{{ i18n "speaker9desc" | safeHTML }}</p>
          </div>
          <div class="c-about__speaker">
            <img class="c-about__img" src="./img/about/joe.jpg">
            <p class="c-about__speaker-name u-bold">Joe Xia</p>
            <p class="c-about__speaker-desc">{{ i18n "speaker10desc" | safeHTML }}</p>
          </div>
          <div class="c-about__speaker">
            <img class="c-about__img" src="./img/about/joyce.jpg">
            <p class="c-about__speaker-name u-bold">Joyce Liu</p>
            <p class="c-about__speaker-desc">{{ i18n "speaker11desc" | safeHTML }}</p>
          </div>
          <div class="c-about__speaker">
            <img class="c-about__img" src="./img/about/junchao.jpg">
            <p class="c-about__speaker-name u-bold">Junchao Lyu</p>
            <p class="c-about__speaker-desc">{{ i18n "speaker12desc" | safeHTML }}</p>
          </div>
          <div class="c-about__speaker">
            <img class="c-about__img" src="./img/about/kyle.jpg">
            <p class="c-about__speaker-name u-bold">Kyle Lin</p>
            <p class="c-about__speaker-desc">{{ i18n "speaker13desc" | safeHTML }}</p>
          </div>
          <div class="c-about__speaker">
            <img class="c-about__img" src="./img/about/mauricio.jpg">
            <p class="c-about__speaker-name u-bold">Mauricio Estrella</p>
            <p class="c-about__speaker-desc">{{ i18n "speaker14desc" | safeHTML }}</p>
          </div>
          <div class="c-about__speaker">
            <img class="c-about__img" src="./img/about/michael.jpg">
            <p class="c-about__speaker-name u-bold">Michael Headrick</p>
            <p class="c-about__speaker-desc">{{ i18n "speaker15desc" | safeHTML }}</p>
          </div>
          <div class="c-about__speaker">
            <img class="c-about__img" src="./img/about/ronan.jpg">
            <p class="c-about__speaker-name u-bold">Ronan Berder</p>
            <p class="c-about__speaker-desc">{{ i18n "speaker16desc" | safeHTML }}</p>
          </div>
          <div class="c-about__speaker">
            <img class="c-about__img" src="./img/about/sam.jpg">
            <p class="c-about__speaker-name u-bold">Sam Sun</p>
            <p class="c-about__speaker-desc">{{ i18n "speaker17desc" | safeHTML }}</p>
          </div>
          <div class="c-about__speaker">
            <img class="c-about__img" src="./img/about/siddharta.jpg">
            <p class="c-about__speaker-name u-bold">Siddharta Lizcano</p>
            <p class="c-about__speaker-desc">{{ i18n "speaker18desc" | safeHTML }}</p>
          </div>
          <div class="c-about__speaker">
            <img class="c-about__img" src="./img/about/youge.jpg">
            <p class="c-about__speaker-name u-bold">Youge Xiao</p>
            <p class="c-about__speaker-desc">{{ i18n "speaker19desc" | safeHTML }}</p>
          </div>
          <div class="c-about__speaker">
            <img class="c-about__img" src="./img/about/binlin.jpg">
            <p class="c-about__speaker-name u-bold">Binlin Zhang</p>
            <p class="c-about__speaker-desc">{{ i18n "speaker20desc" | safeHTML }}</p>
          </div>
          <div class="c-about__speaker">
            <img class="c-about__img" src="./img/about/annie.jpg">
            <p class="c-about__speaker-name u-bold">Annie Chang</p>
            <p class="c-about__speaker-desc">{{ i18n "speaker21desc" | safeHTML }}</p>
          </div>
          <div class="c-about__speaker">
            <img class="c-about__img" src="./img/about/hsun.jpg">
            <p class="c-about__speaker-name u-bold">Hsun Tang</p>
            <p class="c-about__speaker-desc">{{ i18n "speaker22desc" | safeHTML }}</p>
          </div>
          <div class="c-about__speaker">
            <img class="c-about__img" src="./img/about/james.jpg">
            <p class="c-about__speaker-name u-bold">James Chiu</p>
            <p class="c-about__speaker-desc">{{ i18n "speaker23desc" | safeHTML }}</p>
          </div>
          <div class="c-about__speaker">
            <img class="c-about__img" src="./img/about/karlen.jpg">
            <p class="c-about__speaker-name u-bold">Karlen Chang</p>
            <p class="c-about__speaker-desc">{{ i18n "speaker24desc" | safeHTML }}</p>
          </div>
          <div class="c-about__speaker">
            <img class="c-about__img" src="./img/about/raymond.jpg">
            <p class="c-about__speaker-name u-bold">Raymond Chin</p>
            <p class="c-about__speaker-desc">{{ i18n "speaker25desc" | safeHTML }}</p>
          </div>
          <div class="c-about__speaker">
            <img class="c-about__img" src="./img/about/guodong.jpg">
            <p class="c-about__speaker-name u-bold">Guodong Zhan</p>
            <p class="c-about__speaker-desc">{{ i18n "speaker26desc" | safeHTML }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="c-content__section c-content__section_subpage">
    <div class="u-container">
      <h3 class="c-content__title">{{ i18n "aboutSection2Title" }}</h3>
    </div>
    <div class="u-container u-container_wide c-about__photos">
      <div class="c-about__photo" src="./img/about/photo-1.jpg">
        <div class="c-about__photo-container c-about__photo-container_1"></div>
      </div>
      <div class="c-about__photo c-about__photo_narrow" src="./img/about/photo-2.jpg">
        <div class="c-about__photo-container c-about__photo-container_narrow c-about__photo-container_2"></div>
      </div>
      <div class="c-about__photo c-about__photo_narrow" src="./img/about/photo-3.jpg">
        <div class="c-about__photo-container c-about__photo-container_narrow c-about__photo-container_3"></div>
      </div>
      <div class="c-about__photo c-about__photo_narrow" src="./img/about/photo-4.jpg">
        <div class="c-about__photo-container c-about__photo-container_narrow c-about__photo-container_4"></div>
      </div>
      <div class="c-about__photo c-about__photo_narrow" src="./img/about/photo-5.jpg">
        <div class="c-about__photo-container c-about__photo-container_narrow c-about__photo-container_5"></div>
      </div>
      <div class="c-about__photo" src="./img/about/photo-6.jpg">
        <div class="c-about__photo-container c-about__photo-container_6"></div>
      </div>
    </div>
  </div>
</section>
{{ partial "footer" . }}
