{{ partial "header" . }}
<section class="c-content c-faq">
  <div class="c-content__section c-content__section_subpage">
    <div class="u-container">
      <h3 class="c-content__title">{{ i18n "faqSection1Title" }}</h3>
      <div class="c-content__wrapper c-faq__question">
        <p class="c-content__paragraph u-bold">{{ i18n "faqQuestion1" }}</p>
        <p class="c-content__paragraph c-content__paragraph_bottom">{{ i18n "faqAnswer1" }}</p>
      </div>
      <div class="c-content__wrapper c-faq__question">
        <p class="c-content__paragraph u-bold">{{ i18n "faqQuestion2" }}</p>
        <p class="c-content__paragraph c-content__paragraph_bottom">{{ i18n "faqAnswer2" }}</p>
      </div>
      <div class="c-content__wrapper c-faq__question">
        <p class="c-content__paragraph u-bold">{{ i18n "faqQuestion3" }}</p>
        <p class="c-content__paragraph c-content__paragraph_bottom">{{ i18n "faqAnswer3" }}</p>
      </div>
      <div class="c-content__wrapper c-faq__question">
        <p class="c-content__paragraph u-bold">{{ i18n "faqQuestion4" }}</p>
        <p class="c-content__paragraph c-content__paragraph_bottom">{{ i18n "faqAnswer4" }}</p>
      </div>
      <div class="c-content__wrapper c-faq__question">
        <p class="c-content__paragraph u-bold">{{ i18n "faqQuestion5" }}</p>
        <p class="c-content__paragraph c-content__paragraph_bottom">{{ i18n "faqAnswer5" }}</p>
      </div>
      <div class="c-content__wrapper c-faq__question">
        <p class="c-content__paragraph u-bold">{{ i18n "faqQuestion6" }}</p>
        <p class="c-content__paragraph c-content__paragraph_bottom">{{ i18n "faqAnswer6" }}</p>
      </div>
    </div>
  </div>
</section>
{{ partial "footer" . }}
