@import "variables"
@import "fonts"

.c-about
  @media all and (min-width: 48em)
    padding-bottom: 0
  .c-content__title
    @media all and (min-width: 48em)
      padding-bottom: 5.6vh
  .c-content__wrapper
    @media all and (min-width: 48em)
      padding-bottom: 0
  .c-content__section_subpage
    @media all and (min-width: 48em)
      padding-bottom: 0
  &__speakers
    @media all and (min-width: 32em)
      display: flex
      flex-wrap: wrap
  &__speaker
    box-sizing: border-box
    @media all and (min-width: 32em)
      width: 48%
    @media all and (min-width: 48em)
      width: 25%
      padding: 0 1%
    &:nth-child(1),
    &:nth-child(5),
    &:nth-child(9),
    &:nth-child(13),
    &:nth-child(17),
    &:nth-child(21),
    &:nth-child(25)
      padding: 0 2% 0 0
    &:nth-child(4),
    &:nth-child(8),
    &:nth-child(12),
    &:nth-child(16),
    &:nth-child(20),
    &:nth-child(24)
      padding: 0 0 0 2%
  &__img
    width: 100%
    height: auto
  &__speaker-desc
    font-size: 1rem
    letter-spacing: normal
    @media all and (min-width: 48em)
      margin-bottom: 4.3vh
  &__speaker-name
    @media all and (min-width: 48em)
      font-size: 2vh
      margin-top: 4.5vh
  &__photos
    padding-bottom: 32px
    @media all and (min-width: 48em)
      padding-bottom: 10vh
      display: flex
      justify-content: space-between
      flex-wrap: wrap
      align-items: flex-start
  &__photo
    width: 100%
    height: auto
    margin-bottom: 10px
    &:last-child
      margin-bottom: 0
    @media all and (min-width: 48em)
      margin-bottom: 0
      width: 44%
    &:nth-child(3)
      @media all and (min-width: 48em)
        margin-bottom: 20px
    &_narrow
      @media all and (min-width: 48em)
        width: 26%
  &__photo-container
    background-repeat: no-repeat
    background-size: cover
    background-position: center
    padding-bottom: 65%
    width: 100%
    &_narrow
      padding-bottom: 110%
    &_1
      background-image: url("../img/about/photo-1.jpg")
    &_2
      background-image: url("../img/about/photo-2.jpg")
    &_3
      background-image: url("../img/about/photo-3.jpg")
    &_4
      background-image: url("../img/about/photo-4.jpg")
    &_5
      background-image: url("../img/about/photo-5.jpg")
    &_6
      background-image: url("../img/about/photo-6.jpg")
