@import "variables"
@import "fonts"

.c-application-form
  background-color: #f7f7f7
  padding: 0 0 32px
  text-align: left
  @media all and (min-width: 48em)
    padding: 14vh 0
  &__wrapper
    padding: 0 16px
  &__subtitle
    font-size: 1rem
    line-height: 1.5
    margin: 0 0 16px
    @media all and (min-width: 48em)
      margin-bottom: 14px
      font-size: 1.25rem
      letter-spacing: 2px
  &__btn
    margin-top: 40px
    &_upload
      position: relative
      input
        z-index: -1
        color: transparent
    &_cover
      text-align: center
      line-height: 55px
    &_cover,
    &_upload
      input
        width: 100%
        height: 100%
        position: absolute
        top: 0
        left: 0
  &__field
    position: relative
    margin: 16px 0
    @media all and (min-width: 48em)
      margin-bottom: 18px
    input:required:valid ~ .c-application-form__label,
    input:focus ~ .c-application-form__label,
    textarea:required:valid ~ .c-application-form__label,
    textarea:focus ~ .c-application-form__label,
    input:optional:not([value=""]) ~ .c-application-form__label,
    textarea:optional:not([value=""]) ~ .c-application-form__label,
      top: -10px
      font-size: 0.75rem
      font-family: MuseoSlab500, serif
    &_halfwidth
      @media all and (min-width: 48em)
        width: 48%
        display: inline-block
        &:nth-of-type(odd)
          padding-right: 2%
  &__btn
    margin-top: 16px
  &__upload-field
    margin-top: 16px
    margin-bottom: 40px
    @media all and (min-width: 48em)
      display: flex
      margin-bottom: 80px
  &__avatar
    width: 200px
    height: 200px
    background: url("../img/avatar.png") no-repeat center
    background-size: 52% auto
    background-color: #ffffff
    @media all and (min-width: 48em)
      margin-right: 20px
  &__upload-instruction
    display: flex
    flex-direction: column
    justify-content: space-between
  &__input,
  &__question,
  &__radio,
  &__label
    font-family: MuseoSlab300, serif
    font-size: 0.875rem
    line-height: 1.2
    @media all and (min-width: 48em)
      font-size: 1rem
  &__question
    &_upload
      margin-bottom: 0
  &__label
    position: absolute
    top: 10px
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms
    pointer-events: none
    @media all and (min-width: 48em)
      top: 0
  &__input
    width: 100%
    border: 0
    border-bottom: 1px solid rgba($text-color, .5)
    -webkit-appearance: none
    background-color: transparent
    padding: 10px 0
    &:focus
      outline: none
  &__asterisk
    color: $link-color
  &__instruction
    font-size: 0.875rem
    color: $text-color-light
    line-height: 1.5
    margin: 0
    &_list
      padding-left: 20px
      margin-top: 0
  &__radio-field
    margin-bottom: 14px
    @media all and (min-width: 48em)
      margin-bottom: 24px
  &__radio
    position: relative
    padding-left: 35px
    margin-bottom: 12px
    cursor: pointer
    user-select: none
    line-height: 1.5
    input
      position: absolute
      opacity: 0
      cursor: pointer
    input:checked ~ .c-application-form__checkmark
        background-color: #3731bc
    &_block
      display: block
    &_inline
      margin-right: 15px
  &__checkmark
    position: absolute
    top: 0
    left: 0
    height: 20px
    width: 20px
    background-color: #ffffff
    border: 1px solid $text-color
    border-radius: 50%
  &__paragraph
    margin-bottom: 24px
    @media all and (min-width: 48em)
      margin-bottom: 5.6vh
