@import "variables"
@import "fonts"

.c-content
  text-align: left
  @media all and (min-width: 48em)
    padding: 9.3vh 0
  &__section
    @media all and (min-width: 48em)
      padding: 9.3vh 0
    &_subpage
      @media all and (min-width: 48em)
        padding: 6.9vh 0
  &__text
    text-align: left
    @media all and (min-width: 48em)
      width: 56vw
      max-width: 550px
      position: absolute
      top: 0
  &__list
    padding-left: 16px
  &__list-item
    margin: 12px 0
  &__title
    letter-spacing: 3px
    padding: 32px 16px 24px
    font-size: 1.5rem
    font-family: MuseoSlab500, serif
    text-transform: uppercase
    margin: 0
    &_partners
      @media all and (min-width: 48em)
        text-align: center
    @media all and (min-width: 48em)
      letter-spacing: 10px
      font-size: 3.7vh
      padding-top: 0
      line-height: 1.6
    @media all and (min-width: 59em)
      padding-left: 0
  &__paragraph
    line-height: 1.5
    margin: 0
    &_bottom
      margin-top: 20px
      @media all and (min-width: 48em)
        margin-top: 50px
    @media all and (min-width: 48em)
      font-size: 2.3vh
      letter-spacing: 2px
      line-height: 1.6
  &__wrapper
    padding: 0 16px 32px
    @media all and (min-width: 59em)
      padding: 0 0 32px
  &__btn
    margin: 32px auto 0
    display: block
    @media all and (min-width: 48em)
      margin-top: 5.6vh
  &__media
    width: 100%
    height: auto
    @media all and (min-width: 48em)
      width: 38%
    &_video
      @media all and (min-width: 48em)
        width: 55vw
        max-width: 790px
  &__partners
    display: flex
    flex-wrap: wrap
    @media all and (min-width: 48em)
      margin-top: 9vh
      display: block
  &__partner
    width: 50%
    height: 60px
    margin: 10px 0
    background-repeat: no-repeat
    background-position: center
    background-size: contain
    @media all and (min-width: 48em)
      width: 15.2vw
      height: 5.3vw
      display: inline-block
    &_dribble
      background-image: url("../img/partners/dribble.png")
    &_sketch
      background-image: url("../img/partners/sketch.png")
    &_zcool
      background-image: url("../img/partners/zcool.png")
    &_cogs
      background-image: url("../img/partners/cogs.png")
    &_udacity
      background-image: url("../img/partners/udacity.png")
    &_phicomm
      background-image: url("../img/partners/phicomm.png")
    &_proto
      background-image: url("../img/partners/proto.png")
    &_feiyue
      background-image: url("../img/partners/feiyue.png")
    &_sapient
      background-image: url("../img/partners/sapient.png")
    &_weltmeister
      background-image: url("../img/partners/weltmeister.png")
    &_mockingbot
      background-image: url("../img/partners/mockingbot.png")
    &_devteam
      background-image: url("../img/partners/devteam.png")
  .u-container_wide
    position: relative
