@font-face
  font-family: 'SharpSlab-Semibold';
  src: url('../fonts/SharpSlab-Semibold.woff') format('woff'), url('../fonts/SharpSlab-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;

@font-face
  font-family: 'SharpSlab-Medium';
  src: url('../fonts/SharpSlab-Medium.woff') format('woff'), url('../fonts/SharpSlab-Medium.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;

@font-face
  font-family: 'SharpSlab-Bold';
  src: url('../fonts/SharpSlab-Bold.woff') format('woff'), url('../fonts/SharpSlab-Bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
