@import "variables"
@import "hero"
@import "navbar"
@import "content"
@import "callforspeaker"
@import "press"
@import "application-form"
@import "footer"
@import "subscribe-form"
@import "slick"

body,
html
  margin: 0
  padding: 0

body
  font-size: 1em
  text-align: center
  color: $text-color
  font-family: MuseoSlab300, serif

a
  color: inherit
  text-decoration: none

.u-container
  max-width: 939px
  margin: 0 auto

.u-container_wide
  max-width: 1440px

.u-hidden
  display: none

.u-text-right
  text-align: right

.u-align-right
  display: flex
  justify-content: flex-end

.u-bold
  font-family: 'MuseoSlab900', serif

.u-no-scroll
  overflow: hidden

.c-btn-primary
  font-family: 'MuseoSlab500', serif
  background-color: $primary-color
  color: $text-color-inverse
  border: 0
  text-transform: uppercase
  width: 220px
  height: 55px
  border-radius: 2px
  font-size: 1rem
  cursor: pointer
  &:focus
    outline: none
  &_wide
    width: 290px
    @media all and (min-width: 48em)
      width: 440px

.c-link
  font-family: 'MuseoSlab900', serif
  color: $link-color

.c-social-media
  margin: 32px auto 0
  display: flex
  width: 250px
  justify-content: space-between
  @media all and (min-width: 48em)
    margin-left: 0
    margin-right: 0
    width: 350px
    margin-top: 46px
  &_mini
    width: 180px
  &__item
    width: 35px
    height: 35px
    background-repeat: no-repeat
    background-position: center
    background-size: contain
    cursor: pointer
    &_wechat
      background-image: url('../img/social-media/wechat.png')
    &_instagram
      background-image: url('../img/social-media/instagram.png')
    &_weibo
      background-image: url('../img/social-media/weibo.png')
    &_twitter
      background-image: url('../img/social-media/twitter.png')
    &_facebook
      background-image: url('../img/social-media/facebook.png')
